rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /chats/{chat} {
      allow write, update: if request.auth.uid in resource.data.moderators;
      allow read;
    }
    match /messages/{chatId} {
    	allow read, create: if request.auth != null;
      allow update, delete: if resource.data.uid == request.auth.uid;
    }
  }
}