@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;

@tailwind components;

@screen lg {
  .clip-image {
    clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
  }
}

@media (max-width: 640px) {
  .header-max-height {
    max-height: 580px;
  }
}

@media (max-height: 700px) {
  .header-max-height {
    max-height: 680px;
  }
}

.firebase-emulator-warning {
  display: none;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */
